#ads {
  margin: 20px 5px 0 0;
  position: fixed;

  .ad {
    border: 1px solid #ccc;
    background-color: lighten(#ccc, 15%);
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0 20px;
  }

}
