.profile {
  padding: 20px;
  position: fixed;
  top: $header-height;
  bottom: 0;
  background-color: lighten($color-complement-2, 20%);

  img {
    width: 160px;
    border-radius: 15px;
    padding-bottom: 10px;
  }

  .name {
    font-size: 18px;
  }

  .join {
    font-size: 16px;
    color: $text-color-weak;
  }

}
