#add-rant {

  padding: 20px 0;

  label, textarea {
    display: block;
    margin: 5px 0;
  }

  textarea {
    width: calc(100% - 14px);
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
    height: 70px;
    border: 2px solid $color-secondary-1-0;
    resize: none;
  }

  button {
    font-size: 16px;
    padding: 4px 8px;
    color: white;
    background-color: $color-secondary-1-3;
    border: 1px solid $color-secondary-1-4;
    cursor: pointer;
  }

}

#timeline {

  margin-top: 40px;

  .rant {
    margin: 10px 0 20px;
    padding: 10px;
    border-bottom: 1px solid $color-complement-2;

    img {
      width: 60px;
      border-radius: 5px;
      position: relative;
      left: 0;
    }

    .rant-content {
      position: relative;
      top: -60px;
      left: 70px;
      width: calc(100% - 70px);
      margin-bottom: -60px;
      min-height: 60px;
    }
    form { display: inline; }
    .rant-meta {
      margin-left: 70px;
    }


  }

}
